$main_font: "Squartiqa4FUltraLight", sans-serif;
$button_font: "Squartiqa4F", sans-serif;
$text_font: "Aeroport", sans-serif;
$main_color: #b42a40;
$flex_gap: 53px;
$buttons: 324px;

@mixin font_line() {
  font-size: 18px;
  line-height: 25px;
}

@mixin background() {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin transition() {
  transition: opacity 0.5s ease;
}

.auth {
  border: 32px solid $main_color;
  background-image: url(../../images/Pattern_min-02.png);
  color: #fff;
  display: flex;
  gap: 32px;
  box-sizing: border-box;
  font-family: $text_font;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;

  span {
    display: block;
    width: 13px;
    height: 13px;
    background-image: url(../../images/required.svg);
    @include background();
    position: absolute;
    top: 22px;
    right: -18px;
  }
}

.auth__label {
  margin: 0;
  padding: 0;
}

.auth__userinfo {
  margin: 151px 0 32px 51px;
}

.auth__title {
  @include font_line();
  color: #bebebe;
  margin: 35px 0 20px;
}

.auth__input-container {
  position: relative;
}

.auth__inputlist {
  display: flex;
  gap: $flex_gap;
  max-width: 720px;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.auth__input {
  width: $buttons;
  background-color: #1e1e1e;
  border: 1.67755px solid #fff;
  padding: 15px 0 16px 20px;
  box-sizing: border-box;
  color: #fff;
  @include font_line();
}

.auth__input::placeholder {
  opacity: 0.9;
}

.auth__visible {
  position: absolute;
  top: 22px;
  right: 30px;
  width: 20px;
  height: 15px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/visible.svg);
  @include background();
  cursor: pointer;
}

.auth__checklist {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 30px;
}

.auth__check-container {
  position: relative;
  @include transition();

  label {
    margin-left: 22px;
    font-size: 16px;
    line-height: 22px;
  }
}

.auth__check-container:hover {
  opacity: 0.8;
}

.auth__check {
  display: none;
}

.auth__psevdocheck {
  background-image: url(../../images/non-checked.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3.5px;
  left: 0;
  cursor: pointer;
}

.auth__psevdocheck_checked {
  background-image: url(../../images/checked.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3.5px;
  left: 0;
  cursor: pointer;
}

.auth__register-caption {
  color: #ca7b34;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 18px;
  background-image: url(../../images/required_gold.svg);
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 0 center;
}

.auth__links {
  display: flex;
  gap: $flex_gap;
  margin-bottom: 73px;
}

.auth__link {
  display: block;
  width: $buttons;
  padding: 26.5px 0;
  box-sizing: border-box;
  font-family: $button_font;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-image: url(../../images/Pattern_min-01.png);
  text-decoration: none;
  border: none;
  cursor: pointer;
  @include transition();
}

.auth__link:hover {
  opacity: 0.8;
}

.auth__link_route {
  background: none;
  border: 4px solid $main_color;
  color: $main_color;
}

.auth__adv {
  position: relative;
  background-color: #1c252e;
  padding: 11px 0 15px 114px;
  box-sizing: border-box;
  width: 701px;
}

.auth__download {
  display: flex;
  gap: 22px;
}

.auth__down-link {
  width: 213px;
  height: 54px;
  @include background();
  background-size: cover;
  z-index: 5;
  @include transition();
}

.auth__down-link:hover {
  opacity: 0.8;
}

.auth__down-link_apple {
  background-image: url(../../images/app-store-logo-1.png);
}

.auth__down-link_google {
  background-image: url(../../images/google-play-badge.png);
}

.auth__bg1 {
  background-image: url(../../images/download-men.png);
  @include background();
  background-size: cover;
  position: absolute;
  width: 150px;
  height: 112px;
  left: 0;
  top: 0;
  z-index: 2;
}

.auth__bg2 {
  background-image: url(../../images/witcher.png);
  @include background();
  // background-size: cover;
  position: absolute;
  width: 200px;
  height: 112px;
  right: 0;
  top: 0;
  z-index: 2;
}

.auth__invite {
  font-family: $text_font;
  color: #fff;
  @include font_line();
  margin: 0;
  margin-bottom: 7px;
}

.auth__form {
  margin-bottom: 30px;
}

.auth__layout-title {
  font-family: $text_font;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin: 0 0 5px;
}

.auth__flags {
  display: flex;
  gap: -12px;
}

.auth__flag {
  background-repeat: no-repeat;
  background-size: 75px 49px;
  background-position: center center;
  padding: 11px 37px;
  box-sizing: border-box;
  width: 148px;
  height: 70px;
  background-color: #0e1821;
  cursor: pointer;
  @include transition();
}

.auth__flag:hover {
  opacity: 0.8;
}

.auth__flag_active {
  background-color: #1d3449;
}

.auth__flag-container {
  position: relative;
}

.auth__flag_rus {
  background-image: url(../../images/russia.png);
}

.auth__flag_usa {
  background-image: url(../../images/united-states.png);
}

.auth__overlay_active {
  background: none;
  border: none;
  background-color: #000;
  opacity: 0.3;
}

.auth__layout-info {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.auth__caption {
  font-family: $text_font;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #5c5c5c;
  width: 317px;
  margin: 0;
}

.auth__label {
  position: relative;
  margin: 118px 30px 30px 0;
}

.auth__number {
  font-family: $main_font;
  color: $main_color;
  font-size: 595px;
  line-height: 623px;
  text-align: right;
  margin: 0;
  width: 1041px;
}

.auth__label-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.auth__zone {
  margin: 0;
  padding: 18.5px 34.5px;
  box-sizing: border-box;
  background-color: #1d2731;
  font-family: $text_font;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}

.auth__text {
  margin: 0;
  padding: 14px 36px;
  box-sizing: border-box;
  font-family: $button_font;
  color: $main_color;
  font-size: 40px;
  line-height: 47px;
  background-color: #161d24;
}
